* {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  text-decoration: none;
  font-family: 'poppins', sans-serif, monospace;
}

body {
  background-color: #D8D9DA;
  margin: 0 auto;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}

@media (max-width: 950px) {
  body{
    width: 110%;
    margin: 0 auto;
  }
}
